<div class="mt-3">
  <p-table
    [(selection)]="selectedProducts"
    [paginator]="true"
    [rowHover]="true"
    [rows]="7"
    [selectionPageOnly]="true"
    [value]="services"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Location</th>
        <th>Status</th>
        <th>Reviews</th>
        <th>Recent Changes</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-services let-columns="columns">
      <tr>
        <td>
          <p-tableCheckbox [value]="services"></p-tableCheckbox>
        </td>
        <td class="flex align-items-center">
          <img
            [src]="services.image"
            alt="image"
            style="width: 36px"
            class="mr-2 border-round-md"
          />
          {{ services.name }}
        </td>
        <td>{{ services.price | currency : "USD" }}</td>
        <td>{{ services.category }}</td>
        <td class="flex align-items-center">
          <img [src]="services.countryFlag" style="width: 20px" />
          <span class="ml-1">{{ services.countryName }}</span>
        </td>
        <td>
          <p-tag
            [value]="services.status"
            [severity]="getSeverity(services.status)"
          ></p-tag>
        </td>
        <td>
          <p-rating
            v-else
            [ngModel]="services.rating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </td>
        <td>{{ services.date }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
