<div class="mini-container">
  <p class="font-semibold text-3xl">Account Settings</p>
  <div class="flex person-summary">
    <p class="m-1">Welcome</p>
    <span class="font-semibold m-1">John Doe</span>
    <a class="m-1 underline font-semibold" routerLink="/">Go To Profile</a>
  </div>
  <div class="flex flex-wrap align-items-center justify-content-between">
    <a
      *ngFor="let item of boxes"
      [routerLink]="item.routerLink"
      class="flex shadow-2 cursor-pointer h-10rem max-w-20rem my-4 pl-3 pr-5 py-3 flex-column border-round-lg box"
    >
      <i [class]="item.iconClass"></i>
      <p class="text-gray-900 mb-1 font-semibold">{{ item.title }}</p>
      <p class="text-gray-700 text-sm text-justify">
        {{ item.subtitle }}
      </p>
    </a>
  </div>
</div>
