<div class="my-5">
  <p class="font-bold text-2xl mb-2">Services of Company</p>
  <ul class="p-0 flex flex-wrap">
    <partial-service-box
      class="w-4"
      *ngFor="let company of aboutCompany"
      [image]="company?.images[0]"
      [explanation]="company?.title"
      [country]="company?.country"
      [city]="company?.city"
      [stars]="company?.stars"
      [price]="company?.price"
      [countryFlag]="company?.countryFlag"
      [companyName]="company?.companyName"
      [companyLogo]="company?.companyLogo"
    ></partial-service-box>
  </ul>
  <p-divider></p-divider>
</div>
