<div class="all-comment flex align-items-start p-1">
  <div class="image">
    <p-avatar [image]="imageUrl" shape="circle"></p-avatar>
  </div>
  <div class="comment-content flex flex-column mx-3">
    <p class="font-semibold text-gray-800 text-md">{{ name }}</p>
    <div class="country-info text-gray-700 my-1 flex align-items-center">
      <img [src]="flag" [alt]="name" />
      <span class="ml-1 text-sm">{{ country }}</span>
    </div>
    <p-rating [(ngModel)]="star" [readonly]="true" [cancel]="false"></p-rating>
    <div class="comment my-2 mx-1">
      <p class="text-justify text-gray-900">
        {{ comment }}
      </p>
    </div>
    <p-divider styleClass="w-full" align="center">
      <b class="text-gray-500 font-medium text-xs">share your opinion</b>
    </p-divider>
  </div>
</div>
