<div class="container px-2 flex">
  <div class="left-side flex flex-column align-items-start">
    <div class="mb-3 w-10 ml-6 flex flex-column line-height-3 informations">
      <p class="title text-2xl font-medium">
        {{title}}
      </p>
      <div class="comments text-gray-800">
        <i class="pi pi-star"></i>
        <span class="text-md mx-1">{{stars}} (79 assessments)</span>
      </div>
      <div class="location flex align-items-center">
        <img src="https://flagsapi.com/TR/flat/32.png" alt="" />
        <span class="text-gray-800 mx-1">{{country}} {{city}}</span>
      </div>
    </div>
    <div class="flex">
      <img [src]="images" style="max-width: 700px;" [alt]="title">
    </div>
  </div>
</div>
