<div class="content">
  <div class="my-2 flex justify-content-between align-items-center">
    <p class="text-gray-800 font-semibold text-xl">2 Kayıt</p>
    <p-button
      label="Kayit Olusturun"
      icon="pi pi-plus"
      iconPos="right"
      routerLink="/hosting/create-service"
      styleClass="p-button-outlined p-button-info p-button-sm"
    ></p-button>
  </div>
  <div class="my-2 flex flex-wrap flex-column bottom-side">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
      size="small"
        class="p-inputtext-sm border-round-xl w-3"
        placeholder="Buradan kayıt arayın"
        type="text"
        pInputText
      />
    </span>
  </div>
</div>
