<div class="container border-round-2xl my-8 p-6 bg-gray-100">
  <div class="px-8 py- content">
    <p class="font-bold text-white text-3xl mb-4">
      Sign up and introduce your business and your team to all world
    </p>
    <p class="line-height-4 text-justify text-white">
      Starting now, you can open up to the whole world, increase your income,
      serve new people and increase your recognition. Start now to use the
      interface with this and many similar advantages!
    </p>
    <p-button routerLink="/hosting" styleClass="bg-red-500 p-button-rounded mt-4"
      >Get Started</p-button
    >
  </div>
</div>
