<div
  class="sticky z-4 shadow-1 top-0 full-size flex justify-content-around align-items-center navbar h-5rem bg-white"
>
  <div class="logo">
    <a class="font-bold text-4xl font-italic text-blue-600" routerLink="/"
      >Elysium</a
    >
  </div>
  <div class="options">
    <ul class="flex align-items-center">
      <li class="text-md font-semibold mx-2">
        <a routerLink="/products">Locations</a>
      </li>
      <li class="text-md font-semibold mx-2">
        <a routerLink="/products">Services</a>
      </li>
      <li class="text-md font-semibold mx-2">
        <i class="pi pi-globe cursor-pointer"></i>
      </li>
      <li>
        <p-button
          label="Login"
          size="small"
          [rounded]="true"
          class="mx-2"
          (click)="showDialog()"
        ></p-button>
        <!-- <p-dialog
          header="Elysium'a hosgeldiniz"
          [modal]="true"
          [draggable]="false"
          [(visible)]="visible"
          [style]="{ width: '30vw' }"
        >
          <div class="p-4">
            <span class="p-float-label">
              <input
                class="border-round-lg w-12"
                pInputText
                id="username"
                [autofocus]="true"
                tabindex="0"
                placeholder="johndoe@gmail.com"
                formControlName="eposta"
              />
              <label htmlFor="username">E-posta</label>
            </span>

            <span class="my-5 p-float-label">
              <p-password
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%',}"
                tabindex="1"
                placeholder="*************"
                label="asdasd"
                [toggleMask]="true"
                formControlName="password"
                [feedback]="false"
              ></p-password>
              <label for="password">Password</label>
            </span>

            <p-button
              label="Devam et"
              styleClass="mb-4 w-12 text-center"
            ></p-button>

            <p-divider styleClass="w-full" align="center">
              <b class="text-gray-500 font-medium text-xs">Veya</b>
            </p-divider>

            <p-button
              *ngFor="let item of socialMedias"
              [icon]="item.iconClass"
              [label]="item.label"
              [styleClass]="item.styleClass"
            ></p-button>
          </div>
        </p-dialog> -->
      </li>
      <li>
        <p-button
          (click)="showDialog()"
          label="Sign Up"
          size="small"
          [rounded]="true"
          [outlined]="true"
          class="mx-2"
        ></p-button>
        <!-- <p-dialog
          header="Elysium'a hosgeldiniz"
          [modal]="true"
          [draggable]="false"
          [(visible)]="visible"
          [style]="{ width: '30vw' }"
        >
          <div class="p-4">
            <span class="p-float-label">
              <input
                class="border-round-lg w-12"
                pInputText
                id="username"
                [autofocus]="true"
                tabindex="0"
                placeholder="johndoe@gmail.com"
                formControlName="eposta"
              />
              <label htmlFor="username">E-posta</label>
            </span>

            <span class="my-5 p-float-label">
              <p-password
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%',}"
                tabindex="1"
                placeholder="*************"
                label="asdasd"
                [toggleMask]="true"
                formControlName="password"
                [feedback]="false"
              ></p-password>
              <label for="password">Password</label>
            </span>

            <p-button
              label="Devam et"
              styleClass="mb-4 w-12 text-center"
            ></p-button>

            <p-divider styleClass="w-full" align="center">
              <b class="text-gray-500 font-medium text-xs">Veya</b>
            </p-divider>

            <p-button
              *ngFor="let item of socialMedias"
              [icon]="item.iconClass"
              [label]="item.label"
              [styleClass]="item.styleClass"
            ></p-button>
          </div>
        </p-dialog> -->
      </li>
    </ul>
  </div>
</div>
