<div class="container">
  <div class="py-6 px-6 flex flex-column align-items-center flex-wrap content">
    <div class="info">
      <p class="text-4xl mb-1 font-bold">Let's set your price now</p>
      <span class="text-sm text-gray-800 my-2"
        >You can change your price at any time.
      </span>
    </div>
    <div class="mt-6 w-10">
      <div class="flex flex-column flex-wrap align-items-center p-4">
        <div class="flex align-items-end">
          <p class="text-8xl font-bold">₺967</p>
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
          ></p-button>
        </div>
        <span class="my-3 text-gray-800 text-sm"
          >Price excluding taxes: 1024 ₺
        </span>
      </div>
    </div>
  </div>
</div>
