<div class="full-size footer bg-gray-50">
  <div class="grid mx-8 my-4">
    <div class="col-4 flex flex-column">
      <p class="logo font-semibold text-2xl text-blue-800 mb-2">Elysium</p>
      <p class="text-gray-700 text-sm pr-8">
        We always make our customers happy by offering as many options as
        possible.
      </p>
      <div class="socials flex justify-content-start mt-3">
        <i class="text-blue-700 mr-2 text-lg pi pi-instagram"></i>
        <i class="text-blue-700 mr-2 text-lg pi pi-youtube"></i>
        <i class="text-blue-700 mr-2 text-lg pi pi-facebook"></i>
        <i class="text-blue-700 mr-2 text-lg pi pi-twitter"></i>
      </div>
    </div>
    <div class="col-2 flex flex-column justify-content-start">
      <ul>
        <p class="font-semibold mb-2">About Us</p>
        <li class="my-1 text-gray-800 text-sm">About Us</li>
        <li class="my-1 text-gray-800 text-sm">Features</li>
        <li class="my-1 text-gray-800 text-sm">Menu</li>
      </ul>
    </div>
    <div class="col-2 col-2 flex flex-column justify-content-start">
      <ul>
        <p class="font-semibold mb-2">Company</p>
        <li class="my-1 text-gray-800 text-sm">Why Elysium?</li>
        <li class="my-1 text-gray-800 text-sm">Partner with us</li>
        <li class="my-1 text-gray-800 text-sm">FAQ</li>
      </ul>
    </div>
    <div class="col-2 col-2 flex flex-column justify-content-start">
      <ul>
        <p class="font-semibold mb-2">Support</p>
        <li class="my-1 text-gray-800 text-sm">Account</li>
        <li class="my-1 text-gray-800 text-sm">Support Center</li>
        <li class="my-1 text-gray-800 text-sm">Feedback</li>
        <li class="my-1 text-gray-800 text-sm">Contact Us</li>
        <li class="my-1 text-gray-800 text-sm">Accessibility</li>
      </ul>
    </div>
    <div class="col-2 col-2 flex flex-column justify-content-start">
      <ul>
        <p class="font-semibold mb-2">Become Seller</p>
        <li class="text-gray-700 text-sm my-2">
          Do You want to open store in Elysium?
        </li>
        <li class="mt-4">
          <p-button styleClass="p-button-sm" label="Become seller"></p-button>
        </li>
      </ul>
    </div>
  </div>
</div>
