<div class="container featured-services">
  <p class="text-2xl font-semibold text-start">Featured Services</p>
  <ul class="flex justify-content-start m-1 p-0 w-full flex-wrap">
    <li
      class="w-2 border-round-2xl mx-3 my-4 bg-white-alpha-60 shadow-2"
      *ngFor="let service of services;let even = even; let odd = odd;"
      [ngClass]="{ odd: odd, even: even }"
    >
      <img
        class="w-full border-round-2xl h-16rem"
        [src]="service.image"
        [alt]="service.title"
      />
      <div class="flex justify-content-between mt-1 px-1">
        <div class="location-info">
          <span class="font-bold text-sm">{{ service.location }}</span>
        </div>
        <div class="stars">
          <i class="pi pi-star text-xs"></i>
          <span class="mx-1  text-xs">{{ service.stars }}</span>
        </div>
      </div>
      <div class="text-sm text-gray-700 px-1 my-1">{{ service.title }}</div>
      <div class="my-2 px-1">
        <span class="font-semibold text-sm px-1">{{
          service.price | currency
        }}</span>
      </div>
    </li>
  </ul>
</div>
