<div class="container mx-3 p-3">
  <p-card
    header="How Will the process work?"
    subheader="Don't forget to check the stages that the business has setting."
  >
    <div class="flex align-items-center justify-content-center">
      <div
        *ngFor="let steps of allSteps"
        class="w-17rem h-10rem surface-50 border-round mx-2 text-center p-4"
      >
        <i [class]="steps.iconClass"></i>
        <p class="my-1 font-semibold">{{ steps.name }}</p>
        <p class="text-sm text-gray-800 mt-2 line-height-3">
          {{ steps.step }}
        </p>
      </div>
    </div>
  </p-card>
</div>
