<div class="flex align-items-center justify-content-between">
    <div class="left-side">
      <i class="text-3xl pi pi-prime"></i>
    </div>
    <div class="right-side">
      <p-sidebar position="right" [(visible)]="sidebarVisible">
        <h3>Sidebar</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </p>
      </p-sidebar>
      <p-button
        (click)="sidebarVisible = true"
        label="Do you have any questions?"
        styleClass="mx-2 p-button-sm p-button-outlined p-button-info"
      ></p-button>
    </div>
  </div>
  