.banner {
  height: 80vh;
  width: 100%;
  background: linear-gradient(rgba(1, 47, 112, 0.6), rgba(21, 105, 220, 1));
  /* background:  linear-gradient(rgba(21, 105, 220, 0.2), rgba(21, 105, 220, 0.4)), url("../../../../assets/homepage/background.png") no-repeat left center; */
  /* background:  url("../../../../assets/homepage/background.png") no-repeat left center; */
  /* filter: brightness(40%); */
}

.input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: rgb(95, 115, 143);
}

@media (max-width: 1300px) {
  .banner .image-div {
    display: none;
  }
}

@media (max-width:790px) {
  .banner {
    padding: 0px 1rem !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .banner .low-banner {
    max-width: 500px;
  }

  .banner .low-banner .main-title .title,
  .subtitle {
    font-size: 32px !important;
  }

  .banner .fields {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: start !important;
  }

  .banner .fields>* {
    margin: .5rem auto;
    padding: .1rem;
  }

  .banner .fields .search-button {
    /* background-color: black !important; */
    width: 80%;
    text-align: start;
  }

  .banner .fields .search-button .rbutton {
    display: flex;
    align-items: center;
  }

}

@media (max-width:525px) {
  .banner {
    background-color: black;
  }

  .banner .low-banner .main-title .title,
  .subtitle {
    font-size: 24px !important;
  }
}
