.banner {
  height: 80vh;
  width: 100%;
  background: linear-gradient(rgba(1, 47, 112, 0.6), rgba(21, 105, 220, 1));
  /* background:  linear-gradient(rgba(21, 105, 220, 0.2), rgba(21, 105, 220, 0.4)), url("../../../../assets/homepage/background.png") no-repeat left center; */
  /* background:  url("../../../../assets/homepage/background.png") no-repeat left center; */
  /* filter: brightness(40%); */
}

.images img {
}
