.banner {
    height: 90vh;
    width: 100%;
    text-align: center;
    background-color: rgb(205, 218, 218);
}
.banner:first-child{
    margin-bottom: .3rem;
}
.banner p {
    color: white;
    text-align: center;
    padding-top: 10rem;
    margin-bottom: 1rem;
}
p-button {
    margin: .6rem .3rem;
}