<div class="full-size navbar">
  <div class="logo"><h4>Elysium</h4></div>
  <div class="options">
    <ul>
      <li><a routerLink="/">Health</a></li>
      <li><a routerLink="/">Otel</a></li>
      <li><span class="pi pi-language"></span></li>
      <li>
        <p-button
          styleClass="p-button-sm p-button-rounded p-button-outlined"
          label="Login"
        ></p-button>
      </li>
      <li>
        <p-button
          styleClass="p-button-sm p-button-rounded"
          label="Sign Up"
        ></p-button>
      </li>
    </ul>
  </div>
</div>
