<div class="mx-3 p-3 container">
  <div class="content w-12 flex justify-content-between">
    <p-card
      class="card w-6 mx-2"
      header="Select Available Day"
      subheader="You can define day in order to be in that day."
    >
      <p-calendar
        class="calendar"
        [(ngModel)]="date"
        [inline]="true"
        [showWeek]="true"
        [minDate]="minDate"
        [maxDate]="maxDate"
      ></p-calendar>
    </p-card>
    <p-card
      class="card w-6 mx-2"
      header="Select Available Time"
      subheader="If you have leisure time for this, you can select time."
    >
      <p-table
        [value]="clocks"
        styleClass="small"
        [scrollable]="true"
        scrollHeight="405px"
      >
        <ng-template pTemplate="body" let-product>
          <tr *ngFor="let clock of clocks">
            <td
              [ngClass]="clock.available ? 'availableTrue' : 'availableFalse'"
            >
              {{ clock.time }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
