<div class="grid">
  <pd-upper-left-side class="lg:col-8 md:col-12"></pd-upper-left-side>
  <pd-company-information [ngClass]=""></pd-company-information>
  <pd-explanation-of-service class="lg:col-8 sm:col-12"></pd-explanation-of-service>
  <pd-process class="lg:col-8 sm:col-12 "></pd-process>
  <pd-calendar class="lg:col-8 sm:col-12"></pd-calendar>
  <pd-comment-summary class="col-12"></pd-comment-summary>
  <pd-comments class="col-12"></pd-comments>
  <pd-map class="col-12"></pd-map>
  <pd-you-need-to-know class="col-12"></pd-you-need-to-know>
  <pd-related-products class="col-12"></pd-related-products>
  <pd-near-hotels class="col-12"></pd-near-hotels>
</div>
<footer></footer>
