<div class="container m-auto grid">
  <pd-upper-left-side class="lg:col-8 sm:col-12"></pd-upper-left-side>
  <pd-company-information class="lg:col-4"></pd-company-information>
  <pd-explanation-of-service
    class="lg:col-8 sm:col-12"
  ></pd-explanation-of-service>
  <pd-additional-service class="lg:col-8 sm:col-12"></pd-additional-service>
  <pd-section-teammates class="lg:col-8 sm:col-12"></pd-section-teammates>
  <pd-calendar class="lg:col-8 sm:col-12"></pd-calendar>
  <pd-comment-summary class="col-12"></pd-comment-summary>
  <pd-comments class="col-12"></pd-comments>
  <pd-you-need-to-know class="col-12"></pd-you-need-to-know>
  <pd-related-products class="col-12"></pd-related-products>
  <pd-near-hotels class="col-12"></pd-near-hotels>
</div>
