<div class="mx-3 px-5 py-4">
  <p class="font-semibold text-2xl my-2 text-gray-900">About This Service</p>
  <p class="text-gray-800 text-justify mb-2">
    {{ explanation }}
  </p>
  <p-button
    (click)="showDialog()"
    styleClass="p-button-sm p-button-outlined"
    class="flex justify-content-end mt-4"
    label="See details"
  ></p-button>
  <p-dialog
    header="Detail Of Service"
    [modal]="true"
    [draggable]="false"
    [(visible)]="visible"
    [style]="{ width: '50vw', height: '80vh' }"
  >
    <p class="text-gray-800">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, fugit,
      deleniti dignissimos voluptates eligendi voluptatibus velit eos beatae
      voluptate quo nisi perspiciatis dolorem placeat consequuntur vitae aperiam
      deserunt libero debitis tempora corporis, nesciunt ducimus quasi! Ad
      reiciendis numquam <br />
      similique, deserunt qui accusantium veritatis, consectetur unde accusamus
      doloremque voluptatibus quod obcaecati nulla facilis illum atque labore
      voluptates alias? Obcaecati temporibus repellat consequatur. Sequi quis
      consectetur error perferendis? Magnam maiores numquam exercitationem
      molestias ea quod beatae distinctio harum unde qui sunt excepturi dolorem
      asperiores tempore iusto ab, provident neque sit necessitatibus nobis
      cupiditate vitae eaque ullam. Cumque, molestiae?<br />
      Provident vitae iusto impedit porro quod, culpa nulla commodi quas
      veritatis a adipisci nihil eligendi ab facere deleniti voluptates soluta
      nobis,<br />
      omnis sed nisi error tenetur! Beatae voluptas earum labore tempora
      explicabo maxime a suscipit assumenda veniam enim unde illo neque
      repudiandae harum ducimus, deserunt nulla autem esse voluptates
      praesentium alias laborum perspiciatis, modi fugit! Est, atque quis
      pariatur nobis itaque unde! Eligendi inventore soluta architecto at
      deleniti <br />
      quis enim corporis suscipit adipisci cum ipsum nihil expedita rem optio
      reprehenderit error eum blanditiis, odio ex, distinctio nesciunt incidunt?
      Dolores debitis, iure nostrum odit reiciendis libero maiores doloremque
      consequatur sint quidem, iste, incidunt tempora iusto? <br />
      A reiciendis earum accusantium nobis dignissimos assumenda quasi at
      commodi nulla. Corporis temporibus provident officiis dolorum maxime? Quis
      voluptates sequi ipsum quibusdam similique dolore dolores temporibus illum
      consequatur. Non repellendus reiciendis minima? Quae excepturi quo
      dignissimos eligendi possimus repellendus facere molestias, veniam, modi
      autem perferendis odit laudantium nobis est harum illum totam vero,
      dolorum fugit quis tempore numquam? Sunt atque vitae corrupti, iste
      explicabo nisi consequuntur sed libero cupiditate rem magni hic sequi.
      <br />
      Accusamus quod assumenda quia ut dicta atque repellat! Perferendis
      repellat ratione dolor molestias. Quibusdam vel, voluptatibus temporibus
      provident saepe excepturi totam quae hic ad obcaecati, quam aliquid?
    </p>
  </p-dialog>
</div>
<p-divider></p-divider>
