<div class="">
  <div class="flex flex-column mx-4 my-2">
    <p class="mx-5 my-3 font-semibold text-gray-800 text-xl">
      Related Products
    </p>
    <p-carousel
      [value]="products"
      [numVisible]="5"
      [numScroll]="3"
      [circular]="false"
    >
      <ng-template
        *ngFor="let product of products"
        let-product
        pTemplate="item"
      >
        <partial-service-box
          [explanation]="product.title"
          [image]="product.image"
          [location]="product.location"
          [stars]="product.starts"
          [price]="product.price"
        ></partial-service-box>
      </ng-template>
    </p-carousel>
  </div>
</div>
