<div class="relative">
  <div #info class="fixed col-fixed company-information" style="width: 360px">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eaque
      optio incidunt odit adipisci excepturi suscipit accusamus. Optio explicabo
      nesciunt sunt architecto expedita mollitia, laboriosam quae commodi? Harum
      saepe aliquam repudiandae aut unde quidem fugit labore iure in! Nisi, ex.
      optio incidunt odit adipisci excepturi suscipit accusamus. Optio explicabo
      nesciunt sunt architecto expedita mollitia, laboriosam quae commodi? Harum
    </p>
  </div>
</div>
