<div class="container">
  <p class="text-2xl font-semibold text-start mb-4">Real Stories</p>
  <div
    class="flex shadow-2 bg-gray-50 px-8 py-6 mb-6 align-items-center justify-content-center"
  >
    <div class="flex flex-column mr-8 line-height-4">
      <p class="mb-4 text-md font-medium text-gray-800">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem,
        quam dolorum aspernatur ipsa tempora quisquam ratione veritatis
        cupiditate laudantium? Architecto quas dignissimos repellendus
        reprehenderit exercitationem debitis tempore neque necessitatibus animi
        natus sint, maiores perferendis similique sapiente nisi? Modi, itaque!
      </p>
      <p class="font-semibold text-lg">Maria Sklodowska</p>
    </div>
    <div class="mr-5">
      <img
        class="w-full h-full border-round"
        src="https://images.unsplash.com/photo-1592598015799-35c84b09394c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
        alt="happy customer"
      />
    </div>
  </div>
</div>
