<div class="container">
  <p class="text-2xl font-semibold text-start mb-4">Real Stories</p>
  <div class="border-round shadow-1">
    <p-carousel
      [value]="realStories"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="false"
    >
      <ng-template let-stories pTemplate="item">
        <div class="flex justify-content-center mt-4 align-items-center">
          <div class="flex flex-column mx-5 line-height-4">
            <p class="text-md font-medium text-gray-800">
              {{ stories.story }}
            </p>
            <p class="font-semibold text-gray-800 text-lg">
              {{ stories.name }}
            </p>
          </div>
          <div class="mt-4 mx-4">
            <img
              class="w-14rem border-round"
              [src]="stories.image"
              [alt]="stories.name"
            />
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
