<div class="flex align-items-center justify-content-start banner">
  <div class="left-side ml-8 mb-8 flex flex-column w-6">
    <p class="title text-blue-800 capitalize text-7xl">
      You can serve to whole world
    </p>
    <p class="text-gray-800 text-justify font-medium py-4">
      Fill your appointmen dates with our system, open up to the world and
      maximize your potential. You can make them hear about your service and
      your perfecteness!
    </p>
    <div class="mt-5">
      <p-button
        routerLink="/registration"
        label="Get Started"
        styleClass="p-button-rounded mr-4"
      ></p-button>
      <p-button
        routerLink="/"
        label="Learn More"
        styleClass="p-button-rounded p-button-outlined"
      ></p-button>
    </div>
  </div>
</div>
