<div class="container information">
    <div class="bg-gray-50 p-5">
        <div class="text-2xl font-semibold text-start mb-4">We Always Here For You!</div>
    <div
      class="flex align-items-center justify-content-center"
      *ngFor="let information of informations let even = even; let odd = odd;"
      [ngClass]="{ odd: odd, even: even }"
    >
      <div class="">
        <img
          class="w-22rem h-20rem p-5"
          [src]="information.image"
          [alt]="information.title"
        />
      </div>
      <div class="flex flex-column align-item-start text-start mr-8">
        <p class="font-semibold text-xl text-black mb-3">{{ information.title }}</p>
        <p class="line-height-4 text-base font-light text-gray-800">
          {{ information.subtitle }}
        </p>
      </div>
    </div>
  </div>
</div>
