.odd {
    
    flex-flow: row-reverse;
    padding: 0 2rem;
}
/* .even::after {
    content : "||||";
    color: black;
}
.odd::after {
    content : "||||";
    color: black;
} */

.odd:hover,.even:hover {
    background-color: #f6f6f6;
}