@media (max-width: 555px) {
    ul {
      padding: 0 !important;
      align-items: center !important;
      justify-content: center !important;
      width: 100% !important;
    }
  
    ul>* {
      margin: .5rem !important;
    }
  }
  
  ul {
    padding: 0 !important;
  }