<div class="container need-to-know">
  <p-card
    header="You need to know"
    subheader="It's good to know these before you go on a trip."
  >
    <div class="content flex">
      <ul>
        <li class="my-3" *ngFor="let rules of rulesColumn1">
          <span class="text-gray-600">{{ rules.id }}</span> -
          <span class="text-gray-800 font-medium">{{ rules.rule }}</span>
          <p-divider></p-divider>
        </li>
      </ul>
      <ul>
        <li class="my-3" *ngFor="let rules of rulesColumn2">
          <span class="text-gray-600">{{ rules.id }}</span> -
          <span class="text-gray-800 font-medium">{{ rules.rule }}</span>
          <p-divider></p-divider>
        </li>
      </ul>
    </div>
  </p-card>
</div>
