<div class="container">
  <p class="text-3xl font-semibold text-start">Featured Services</p>
  <ul class="flex justify-content-start flex-wrap">
    <partial-service-box
      class="mx-auto services"
      *ngFor="let service of services"
      [image]="service?.images[0]"
      [title]="service?.title"
      [country]="service?.country"
      [city]="service?.city"
      [stars]="service?.stars"
      [price]="service?.price"
      [companyName]="service.companies?.name"
      [countryFlag]="service.companies?.countryFlag"
      [companyLogo]="service.companies?.image"
    ></partial-service-box>
  </ul>
</div>
