<div class="mx-3 p-3">
  <p-card
    header="Everythings about service"
    subheader="You can analyze some important things"
  >
    <div class="content line-height-4">
      <p class="mb-2">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
      <p class="mb-2">
        The point of using Lorem Ipsum is that it has a mre-or-less normal
        distribution of letters, as oppossed to using 'Content here','content
        here' making it look like readable English.
      </p>
      <p-button
        (click)="showDialog()"
        icon="pi pi-external-link"
        styleClass="p-button-outlined"
        class="flex justify-content-end mx-3"
        label="Show"
      ></p-button>
      <p-dialog
        header="Detail Of Service"
        [(visible)]="visible"
        [style]="{ width: '40vw', height: '50vh' }"
        [maximizable]="true"
      >
        <p class="text-gray-800">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-dialog>
    </div>
  </p-card>
</div>
