<div class="container px-8 flex">
  <div class="left-side flex align-items-start">
    <div class="mb-3 w-8 flex flex-column line-height-3 informations">
      <p class="text-2xl font-medium">
        We transplant your hair in a professional way
      </p>
      <div class="text-gray-800">
        <i class="pi pi-star"></i>
        <span class="text-md mx-1">4,87 (79 assessments)</span>
      </div>
      <div class="flex align-items-center">
        <img src="https://flagsapi.com/TR/flat/32.png" alt="" />
        <span class="text-gray-800 mx-1">Istanbul,Turkey</span>
      </div>
      <div class="image border-round-md mt-2">
        <img
          class="w-full"
          src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'"
          alt="Image 1"
        />
      </div>
    </div>
    <div class="right-side w-4 m-3">
    </div>
  </div>
</div>
